@import 'tailwindcss';

@keyframes speed-spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}

body {
	background: #333333;
	margin: 0;
	overflow: hidden;
}

#app {
	width: 100dvw;
	height: 100dvh;
	user-select: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-webkit-user-drag: none;
	cursor: crosshair;
}
img,
canvas,
svg {
	user-select: none;
	-webkit-user-drag: none;
}
